@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* Shared ---------------------------------------------------------- */

.class {
    text-align: center;
}


/* Header ---------------------------------------------------------- */


/* First section --------------------- */

header>div:first-child {
    background-color: #222222;
    color: #F3F3F3;
    font-size: 14px;
    display: flex;
    padding: 10px;
}

#fsh-text {
    padding-left: 7%;
}

.fc-left {
    margin-right: auto;
}

#fsh-select {
    padding-right: 5%;
}

header select {
    background-color: transparent;
    color: #F3F3F3;
    border: none;
}

header select option {
    background-color: #222222;
}


/* Second section --------------------- */

header>div:last-child {
    background-color: #F0A83E;
    color: #F3F3F3;
    display: flex;
    padding: 2%;
}

#logo {
    margin-left: 2%;
}

#logo span {
    font-weight: bolder;
    font-size: 30px;
}

#logo img {
    width: 27px;
}

.brown {
    color: #222222;
}

.menu {
    font-size: 19px;
}

div.menu li {
    display: inline-block;
    padding-right: 50px;
    cursor: pointer;
}

div.menu span {
    display: list-item;
    list-style-image: url('assets/pawprint.svg');
}


/* Main ---------------------------------------------------------- */


/* First section --------------------- */

#fs-main {
    background-image: url('assets/bowl-and-pet-daities-on-green-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.fs-rigth {
    width: 35%;
    text-align: center;
    margin-right: 1%;
}

.fs-rigth>* {
    margin-bottom: 3%;
}

#fs-main h2 {
    font-weight: normal;
    background-color: #FFFFFF;
    font-size: 38px;
    color: #3C2313;
    padding: 2%;
    border-radius: 5px;
}

#fs-main p {
    color: #3C2313;
    font-size: 20px;
}

#fs-main button {
    background-color: #F0A83E;
    border: none;
    font-size: 20px;
    color: #F3F3F3;
    padding: 20px;
    border-radius: 5px;
    font-weight: lighter;
}


/* Second section --------------------- */