@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* Header ---------------------------------------------------------- */


/* First section header--------------------- */

header>div:first-child {
    background-color: #222222;
    color: #F3F3F3;
    font-size: 14px;
    display: flex;
    padding: 10px;
}

#fsh-text {
    padding-left: 7%;
}

.fc-left {
    margin-right: auto;
}

#fsh-select {
    padding-right: 5%;
}

header select {
    background-color: transparent;
    color: #F3F3F3;
    border: none;
}

header select option {
    background-color: #222222;
}


/* Second section header --------------------- */

header>div:last-child {
    background-color: #F0A83E;
    color: #F3F3F3;
    display: flex;
    padding: 2%;
}

#logo {
    margin-left: 2%;
    cursor: pointer;
}

#logo span {
    font-weight: bolder;
    font-size: 30px;
}

#logo img {
    width: 27px;
}

.brown {
    color: #222222;
}

.menu {
    font-size: 19px;
}

div.menu li {
    display: inline-block;
    padding-right: 50px;
    cursor: pointer;
}

div.menu span {
    display: list-item;
    list-style-image: url('assets/pawprint.svg');
}


/* Main ---------------------------------------------------------- */


/* First section main --------------------- */

#fs-main {
    background-image: url('assets/bowl-and-pet-daities-on-green-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.fs-rigth {
    width: 500px;
    text-align: center;
    margin-right: 1%;
}

.fs-rigth>* {
    margin-bottom: 3%;
}

#fs-main h2 {
    font-weight: normal;
    background-color: #FFFFFF;
    font-size: 38px;
    color: #3C2313;
    padding: 2%;
    border-radius: 5px;
}

#fs-main p {
    color: #3C2313;
    font-size: 20px;
}

#fs-main button {
    background-color: #F0A83E;
    border: none;
    font-size: 20px;
    color: #F3F3F3;
    padding: 20px;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
}


/* Second section main --------------------- */

#ss-main {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

#ss-main img {
    width: 7%;
}

#ss-main p {
    font-size: 50px;
    color: #3C2313;
    font-weight: bolder;
}

#ss-main li {
    display: inline-block;
    color: #666666;
    font-size: 22px;
    padding-right: 2%;
    cursor: pointer;
    margin-top: 2%;
}


/* Third section main--------------------- */

#ts-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ts-main div {
    background-color: #FBFAF6;
    margin-left: 25px;
    text-align: center;
    cursor: pointer;
}

#ts-main img {
    width: 350px;
}

.product-title {
    color: #3C2313;
    font-weight: bolder;
    font-size: 20px;
}

.product-price {
    color: #F0A83E;
    font-weight: bolder;
    font-size: 20px;
}


/* Last section main--------------------- */

#fos-main {
    text-align: center;
    margin-top: 7%;
}

#fos-main div {
    margin-top: 2%;
    margin-bottom: 3%;
}

#fos-main p {
    color: #3C2313;
    font-weight: bolder;
    font-size: 25px;
}

.form-input {
    display: block;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    margin: auto;
    width: 400px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 1%;
}

.button {
    background-color: #8A8787;
    border-radius: 18px;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 120px;
    cursor: pointer;
}

.orange-back {
    background-color: #F0A83E;
}

.brown-back {
    background-color: #3C2313;
}


/* Footer ---------------------------------------------------------- */

footer {
    margin-top: 6%;
}

#fs-foot {
    background-color: #F0A83E;
    display: flex;
    padding: 10px;
}

.fs-foot-fdiv {
    margin-left: 2%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.fs-foot-fdiv img {
    margin-right: 15px;
}

.fs-foot-sdiv {
    margin-right: 4%;
}

.input-sus {
    border: none;
    border-radius: 13px;
    margin: auto;
    width: 350px;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 1%;
}

.button-sus {
    background-color: #3C2313;
    border-radius: 18px;
    border: none;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: lighter;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 90px;
    cursor: pointer;
}